nav.navbar.navbar-expand-lg
  .container-fluid
      a.navbar-brand(href='#') CryptoDash
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#') Features
        li.nav-item
          a.nav-link(href='#') Pricing
        li.nav-item
          a.nav-link(href='#') About